<html>
	<head>
		<link rel='stylesheet' type="text/css" href='bootstrap/css/bootstrap.css'>
		<style>
			input[type="text"], input[type="date"], input[type="password"]{
				height:40px;
				width:300px;
			}
			body{
				background-color:#0063dc;
			}
			.container{
				background-color:white;
				margin-top:20px;
				padding:100px;
			}
		</style>
	</head>
	
	<div class="container">
		<div class="row">
			<div class="span8">
			<h1>Social Network</h1>
			<p>
			Welcome to my built from scratch social network! You are able to make connect with people, status updates, post on friends wall, and search for fellow classmates. Sign up now and test it out.
			</p>
			</div>
			<div class="span4">
				<h1> Create Account </h1>
				<form action="home.php" method="post">
					<input type="text" name="email" placeholder="Email"><br>
					<input type="text" name ="name" placeholder="Name"><br>
					<input type="password" name = "password" placeholder="Password"><br>
					<input type="date" name ="birthday"><br>
					<input type="text" name ="school" placeholder="School"><br>
					<input class='btn btn-success' type="submit" value="Create">
				</form>
				<h1> Log In </h1>
				<form action="home.php" method="post">
					<input type="text" name="email" placeholder="Email"><br>
					<input type="password" name = "password" placeholder="Password"><br>
					<input class='btn btn-success'type="submit" value="Log In">
				</form>
				
			</div>
		</div>
	</div>
</html>